{% extends "layout.html" %}
{% block title %}Simulator{% endblock %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/101/three.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" media="screen">
<script src="{{ url_for('static', filename='js/search_functions.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/3DViewer.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/construct_ui.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/simulator_functions.js') }}" type="text/javascript" defer></script>
{% endblock %}
{% block content %}
    <h1>Simulator</h1>
    <div class="row">
      <div id="3js-container" class="col-md-7">
        <div id="3d-controls" class="input-group" role="toolbar">
          <div class="input-group-prepend">
            <p class="input-group-text">Actions</p>
          </div>
          <div id="3d-zoom-in" class="form-control btn btn-light" data-toggle="tooltip" title="Zoom in"><fas-icon icon-name="search-plus"></fas-icon></div>
          <div id="3d-zoom-out" class="form-control btn btn-light" data-toggle="tooltip" title="Zoom out"><fas-icon icon-name="search-minus"></fas-icon></div>
          <div id="3d-stop-anim" class="form-control btn btn-light" data-toggle="tooltip" title="Stop Spin"><fas-icon icon-name="stop-circle"></fas-icon></div>
          <div id="3d-start-anim" class="form-control btn btn-light" data-toggle="tooltip" title="Start Spin"><fas-icon icon-name="play-circle"></fas-icon></div>
          <div id="3d-cam-left" class="form-control btn btn-light" data-toggle="tooltip" title="Move Left"><fas-icon icon-name="chevron-left"></fas-icon></div>
          <div id="3d-cam-up" class="form-control btn btn-light" data-toggle="tooltip" title="Move Up"><fas-icon icon-name="chevron-up"></fas-icon></div>
          <div id="3d-cam-down"class="form-control btn btn-light" data-toggle="tooltip" title="Move Down"><fas-icon icon-name="chevron-down"></fas-icon></div>
          <div id="3d-cam-right" class="form-control btn btn-light" data-toggle="tooltip" title="Move Down"><fas-icon icon-name="chevron-right"></fas-icon></div>

        </div>
      </div>
      <div id="interface-container" class="bg-gray py-1 col-md-5">
        <ul class="nav nav-tabs border-bottom-0">
          <li class="ml-1 nav-item active" ><a class="nav-link active px-1" data-toggle="tab"  href="#sim-config">Simulation <span class="fas fa-wrench"></span></a></li>
          <li class="nav-item"><a class="nav-link px-1" data-toggle="tab" href="#src-config">Sources  <span class="fas fa-volume-up"></span></a></li>
          <li class="nav-item"><a class="nav-link px-1" data-toggle="tab" id="code-tab" href="#code">Code <span class="fas fa-code"></span></a></li>
          {% if simconf == "" %}
          <li class="ml-auto nav-item"><a class="btn btn-primary text-white px-1" id="run_conf" data-toggle="tooltip" title="Start the simulation.">Run <span class="fas fa-play"></span></a></li>
          {% else %}
          <li class="ml-auto nav-item"><a class="btn btn-primary text-white px-1" id="run_conf" data-toggle="tooltip" title="Save the simulation.">Save <span class="fas fa-save"></span></a></li>
          {% endif %}
        </ul>
        <div class="tab-content bg-white rounded-top p-1">
          <div class="tab-pane active tall no-hor-scroll" id="sim-config">
            <h2 class="text-center">Simulation Configuration</h2>
            <div class="mx-0" id="room-dim" data-toggle="tooltip" title="The dimensions of the room."></div>
            <div class="mx-0" id="robo-pos" data-toggle="tooltip" title="The position of the robot in the room."> </div>
            <div class="mx-0 my-2" id="sliders">
              <hr>
              <p class="text-secondary">Absorption coefficients</p>

              <div class="input-group" id="X-sliders" data-toggle="tooltip" title="The east and west wall absorption values.">
                <div class="input-group-prepend">
                  <p class="input-group-text text-info" for="Ax1">X-</p>
                </div>
                <input class="form-control custom-range mt-2" id="Ax1" name="Ax1" type="range" min="0" max="1" step="0.05">
                <div class="input-group-prepend">
                  <p class="input-group-text text-info" for="Ax1">X+</p>
                </div>
                <input class="form-control custom-range mt-2" id="Ax2" name="Ax2" type="range" min="0" max="1" step="0.05">
              </div>
              <div class="input-group" id="Y-sliders" data-toggle="tooltip" title="The ceiling and floor absorption values.">
                <div class="input-group-prepend">
                  <p class="input-group-text text-info" for="Ay1">Y-</p>
                </div>
                <input class="form-control custom-range mt-2" id="Ay1" name="Ay1" type="range" min="0" max="1" step="0.05">
                <div class="input-group-prepend">
                  <p class="input-group-text text-info" for="Ay2">Y+</p>
                </div>
                <input class="form-control custom-range mt-2" id="Ay2" name="Ay2" type="range" min="0" max="1" step="0.05">
              </div>
              <div class="input-group" id="Z-sliders" data-toggle="tooltip" title="The north and south wall absorption values.">
                <div class="input-group-prepend">
                  <p class="input-group-text text-info" for="Az1">Z-</p>
                </div>
                <input class="form-control custom-range mt-2" id="Az1" name="Az1" type="range" min="0" max="1" step="0.05">
                <div class="input-group-prepend">
                  <p class="input-group-text text-info" for="Az1">Z+</p>
                </div>
                <input class="form-control custom-range mt-2" id="Az2" name="Az2" type="range" min="0" max="1" step="0.05">
              </div>
            </div>
            <!-- <div class="mx-0" id="rt-60" data-toggle="tooltip" title="The RT-60 value of the room."></div> -->
            <div class="mx-0" id="sample-rate" data-toggle="tooltip" title="The sample rate of the simulation."></div>
          </div><!-- sim tab -->
          <div class="tab-pane" id="src-config">
            <h2 class="text-center"> Source Configuration</h2>
            <hr>
            <div class="row mx-0">
              <button class="btn btn-info col-md-1" id="add-src" data-toggle="tooltip" title="Add sound sources."><span class="fas fa-plus"></span></button>
            </div>
            <div class="pre-scrollable tall no-hor-scroll" id="src-setups">

            </div>
          </div><!-- source tab -->
          <div class="tab-pane" id="code">
            <div id="editor">{{ simconf }}</div>
              <div class="input-group" role="group" id="upload_controls" data-toggle="tooltip" title="Upload a pre existing simulation config.">
                <div class="input-group-prepend">
                  <p class="text-info input-group-text">Configuration file.</p>
                </div>
                <label for="cfg-file" class="form-control btn btn-secondary" id="cfg-file-lbl"><fas-icon icon-name="upload"></fas-icon> Browse...</label>
                <input type="file" name="cfg-file" class="btn btn-secondary" id="cfg-file" size="1"/>
                <button type="submit" id="fileupload" class="form-control btn btn-info">Upload</button>
            </div>
          </div><!-- code tab -->
        </div><!-- tab content -->

        <div id="sound-uploads-form" class=" bg-white rounded-bottom p-1">
          <hr>
          <div class="input-group mr-2 my-w" role="group" id="utterance-input-controls" data-toggle="tooltip" title="The utterance file.">
            <div class="input-group-prepend">
              <p class="text-info input-group-text">Utterance</p>
            </div>
            <label for="utterancefile" class="input-group-text btn btn-secondary" id="utterancefile-lbl"><fas-icon icon-name="upload"></fas-icon> Browse...</label>
            <input type="file" name="utterancefile" class="form-control" id="utterancefile" size="1">
            <select id="utterance-select" class="form-control">
                <option value="-1">Upload other file.</option>
                {% for sound in sounds: %}
                <option value="{{sound.id}}">{{ sound.name }}</option>
                {% endfor %}
            </select>
            <button onclick="openSearchModal('SOUND', 'public-utt-id', 'utterance-select')" class="form-control btn btn-info"><fas-icon icon-name="globe-europe"></fas-icon></button>
            <input id="public-utt-id" type="hidden" value="-1">
          </div>
          <hr>
            <div class="input-group mr-2 my-w" role="group" id="bgnoise-input-controls" data-toggle="tooltip" title="An optional background noise file.">
              <div class="input-group-prepend">
                <p class="text-info input-group-text">Background Noise</p>
              </div>
              <label for="bgnoise" class="input-group-text btn btn-secondary" id="bgnoise-lbl"><fas-icon icon-name="upload"></fas-icon> Browse...</label>
              <input type="file" name="bgnoise" class="form-control" id="bgnoise" size="1">
              <select id="bgnoise-select" class="form-control">
                <option value="-2">No Background Noise.</option>
                <option value="-1">Upload other file.</option>
                {% for sound in sounds: %}
                <option value="{{sound.id}}">{{ sound.name }}</option>
                {% endfor %}
              </select>
              <button onclick="openSearchModal('SOUND', 'public-bgnoise-id', 'bgnoise-select')" class="form-control btn btn-info"><fas-icon icon-name="globe-europe"></fas-icon></button>
              <input id="public-bgnoise-id" type="hidden" value="-1">
            </div>
            <hr>
              <div class="input-group mr-2 my-2" role="group" class="robot-select-controls" data-toggle="tooltip" title="The robot to use in the simulation.">
                <div class="input-group-prepend">
                  <p class="text-info input-group-text">Robot</p>
                </div>
                {% if robots: %}
                <select id="robot-select" class="form-control">
                  {% for robot in robots: %}
                  <option value="{{robot.id}}">{{ robot.name }}</option>
                  {% endfor %}
                </select>
                {% else %}
                <a id="no-robot-link" href="/robotdesign"><p class="input-group-text btn btn-info px-5">Click to create a robot!</p></a>
                {% endif %}
                <button onclick="openSearchModal('ROBOT', 'public-robot-id', 'robot-select')" class="form-control btn btn-info"><fas-icon icon-name="globe-europe"></fas-icon></button>
                <input id="public-robot-id" type="hidden" value="-1">
            </div>
        </div>
      </div>
    </div>
    <section id="uploadpopup" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-body loading-body">
            <p>Uploading...</p>
            <div id="spinner" class="loading">
              <fas-icon icon-name="robot"></fas-icon>
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-secondary">This could take a few minutes...</p>
          </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" type="text/javascript"></script>
    <!-- Modal Search Dialog  -->
    <div class="modal fade" id="public-search-modal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Find Public Item</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form class="form-group" id="quick-search-form">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><span class="fas fa-search"></span></div>
                    </div>
                    <input id="modal-search-query" name="query" type="text" class="form-control">
                  </div>
              </form>
              <div class="card deck" id="search-results" style="max-height: 75em; overflow-y: scroll;">

              </div>
            </div>
            <div class="modal-footer">
              <button id="clr-search-selection" type="button" class="btn btn-danger" data-dismiss="modal">Clear Selection</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
{% endblock %}
{% block templates %}
<template id="source-block">
  <div id="{id}" class="my-1">
    <div class="row mx-0" id="{id}-tr">
      <select class="col-md-10 form-control" id="{id}-sel" ev-change="sel-change">
        <option value="single">single</option>
        <option value="box">box</option>
        <option value="sphere">sphere</option>
        <option value="pyramid">pyramid</option>
      </select>
      <button class="btn btn-info col-md-1 p-0" id="{id}-col" data-toggle="collapse" data-target="#{id}-body" aria-example="True" aria-controls="{id}-body">
        <fas-icon icon-name="sort-down"></fas-icon>
      </button>
      <button class="btn btn-danger col-md-1 p-0" id="{id}-del" ev-click="del-source" data-toggle="tooltip" title="Remove this source setup."><fas-icon icon-name="minus"></fas-icon></button>
    </div>
    <div class="collapse" id="{id}-body">
      <div id="{id}-single">
        <vec3-input label="Position" id="{id}-single" value="0.0" step="0.25" id-suffix="pos" label-style="POS" data-toggle="tooltip" title="The position of the source."></vec3-input>
      </div>
      <div id="{id}-box" style="display: none">
        <vec3-input label="Dimensions (m)" id="{id}-box" label-style="DIM" value="1.0" step="0.25" id-suffix="dim" data-toggle="tooltip" title="The size of the box."></vec3-input>
        <vec3-input label="Divisions"  id="{id}-box" label-style="DIM" value="2.0" step="1.0" id-suffix="div" data-toggle="tooltip" title="The number of divisions per side."></vec3-input>
        <vec3-input label="Origin" id="{id}-box" label-style="POS" value="0" step="0.25" id-suffix="pos" data-toggle="tooltip" title="The origin of the box."></vec3-input>
      </div>
      <div id="{id}-sphere" style="display: none">
        <vec3-input label="Origin" id="{id}-sphere" label-style="POS" value="0" step="0.25" id-suffix="pos" data-toggle="tooltip" title="The origin of the sphere."></vec3-input>
        <number-input label="Rings" id="{id}-sphere" value="4.0" step="1.0" id-suffix="rings" data-toggle="tooltip" title="The vertical divisions of the sphere."></number-input>
        <number-input label="Segments" id="{id}-sphere" value="8.0" step="1.0" id-suffix="segs" data-toggle="tooltip" title="The horizontal divisions of the sphere."></number-input>
        <number-input label="Radius (m)" id="{id}-sphere" value="4.0" step="0.25" id-suffix="rad" data-toggle="tooltip" title="The radius of the sphere."></number-input>
      </div>
      <div id="{id}-pyramid" style="display: none">
        <vec3-input label="Origin" id="{id}-pyramid" label-style="POS" value="0" step="0.25" id-suffix="pos" data-toggle="tooltip" title="The origin of the pyramid."></vec3-input>
        <number-input label="Divisions" id="{id}-pyramid" value="3.0" step="1.0" id-suffix="divs" data-toggle="tooltip" title="The horizontal divisions of the pyramid."></number-input>
        <number-input label="Layers" id="{id}-pyramid" value="4.0" step="1.0" id-suffix="lays" data-toggle="tooltip" title="The number of layers in the pyramid."></number-input>
        <number-input label="Length (m)" id="{id}-pyramid" value="8.0" step="0.25" id-suffix="len" data-toggle="tooltip" title="The length/height of the pyramid."></number-input>
        <number-input label="Angle (&deg;)"  id="{id}-pyramid" value="30.0" step="5.0" id-suffix="ang" data-toggle="tooltip" title="The vertical angle of the pyramid."></number-input>
      </div>
    </div>
  </div>
</template> <!-- Template for a source panel -->
<!-- Template for a quick search result -->
<template id="search-result">
    <div class="card text-white bg-dark border-primary my-1 rounded" id="card-{id}">
        <div class="card-header">
            <h4 id="card-{id}-name"> <span class="badge text-dark rounded bg-info" id="card-{id}-type"></span></h4>
        </div>
        <div class="card-body">
            <p id="card-{id}-desc"></p>
            <span class="fas fa-smile"></span> <span id="card-{id}-like-count" class="badge rounded bg-info"></span>
        </div>
    </div>
</template>
{% endblock %}
