{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Sign up</h1>
    <form action='/login' method="post">
        <div class="form-group">
            <label for="email">Your E-Mail</label>
            <input class="form-control" name="email" type="email">
        </div>
        <div class="form-group">
            <label for="password">Your Password</label>
            <input class="form-control" name="password" type="password">
        </div>
        <div class="form-group">
          <input type="submit" name="submit" class="form-control btn btn-info" value="Log In!"></input>
        </div>
    </form>
{% endblock %}
